html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

.background {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
}

.window {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  overflow-y: auto;
  -ms-overflow-style: none; /*IE and Edge*/
}

.window ::-webkit-scrollbar {
  display: none;
}

* {
  font-family: Pretendard, "Noto Sans KR", sans-serif;
}

button {
  all: unset;
}

fieldset {
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

/* 주의할 점 : absolute로 두는 요소들은 미디어 쿼리로
width: 360px;로 바꿔야 됌 그래야 탭 형식 오류X */
@media screen and (min-aspect-ratio: 1/1) {
  /* 가로 길이가 세로 길이보다 길거나 같은 경우에 적용될 스타일 */
  .background {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    background: #000000;
  }
  /*갤럭시 s8+처럼 보이게*/
  .window {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 360px;
    height: 740px;
    margin: 0 auto;
    padding: 0px;
  }
}
